body {
    margin: 0;
    padding: 0;
    background-color: #F8FAFB;
}
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 33px 0;
}
.header_menu_points{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 350px;
    margin: 0;
    padding: 0 7vw 0 0;
}
.header_menu_points a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #383741;
    text-decoration: none;
}
.hader_profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 146px;
}
.hader_profile_name{
    font-family: 'Montserrat', sans-serif;
    color: #383741;
    font-size: 14px;
}
.hader_profile a{
    text-decoration: none;
}

.content{
    display: flex;
    justify-content: space-evenly;
}
.content_navigation{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 11vh 0 0 0;
}
.content_navigation a{
    text-decoration: none;
}
.content_navigation_profiles_item{
    display: flex;
    align-items: center;
}
.content_navigation_profiles_item_name {
    margin: 0 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    color: #324552;
    font-weight: bolder;
    font-size: 14px;
    max-width: 115px;
}
.content_main{
    height: 80vh;
    overflow: scroll;
}
.content_main::-webkit-scrollbar {
    width: 0;
}
.content_main h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgba(5, 1, 24, 0.712);
    font-weight: bolder;
    font-size: 34px;
}
.content_main_text{
    color: #000;
    font-size: 19px;
    line-height: 32px;
}
.paragraph{
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 25px 0;
    max-width: 620px;
}
.content_main_button{
    background-color: #2F80ED;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    max-width: 200px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 3%;
    margin: 2vh 0 0 0;
}
.content_main a{
    text-decoration: none;
}

.content_main.second{
    padding: 10vh 0 0 0;
    overflow: visible;
}

.content_main_currentProfile{
    display: flex;
    margin: 0 0 1vh 0;
}
.content_main_currentProfile_avatar img{
    border-radius: 50%;
}
.content_main_currentProfile_name{
    align-self: center;
    margin: 0 0 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bolder;
}
.content_main_message{
    background-color: #DEF1FF;
    max-width: 750px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    border-radius: 2%;
    max-width: 620px;
} 
.content_main_button.next{
    max-width: 92px;
    border-radius: 3%;
}
.content_input{
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
}
.content_input a{
    margin: 0 0 0 1vw;
}
.send_message{
    width: 100%;
    border: 0.5px solid #828282;
    border-radius: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #828282;
    padding: 25px 3vw;
}
