body {
    margin: 0;
    padding: 0;
    background-color: #F8FAFB;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 33px 0;
}
.header_logo{
    display: grid;
    justify-content: center;
}
.header_menu_points{
    display: flex;
    list-style-type: none;
    max-width: 350px;
    margin: 0 265px 0 0;
}
.header_menu_points a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #383741;
    text-decoration: none;
    margin: 0 0 0 30px;
}
.hader_profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 146px;
}
.hader_profile_name{
    font-family: 'Montserrat', sans-serif;
    color: #383741;
    font-size: 14px;
}
.hader_profile a{
    text-decoration: none;
}

.circle{
    width: 25px;
    height: 25px;
    background-color: #2F80ED;
    text-align: center;
    font-size: 15px;
    border-radius: 50%;
    color: #fff;
    line-height: 25px;
    margin: 0 0 0 10px;
}
.circle.none {
    display: none;
}


.greeting.none{
    display: none;
}
.greeting{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.greeting_navigation{
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 60px 0;
}
.greeting_bot_div{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 220px;
    margin: 10px 0 0 0;
}
.greeting_bot_avatar{
    margin: 0 10px 0 0;
}



.greeting_content{
    margin: 50px 0 0 0;
}
.greeting_content_text{
    color: #000;
    font-size: 19px;
    line-height: 32px;
}
.greeting_content_text_hello{
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 25px 0;
    max-width: 744px;
    font-size: 19px;
    line-height: 30px;
}
.greeting_content_button{
    background-color: #2F80ED;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    max-width: 98px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 3%;
}
.greeting_content a{
    text-decoration: none;
}



.section_one.none{
    display: none;
}
.section_one{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.section_one_content{
    max-width: 745px;
    height: 80vh;
    overflow: scroll;
    padding: 15px 0 0 0;
    margin: 0 0 0 -10px;
}
.section_one_content::-webkit-scrollbar {
    width: 0;
}
.section_one_content h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: bolder;
}
.section_one_content_text_paragraph{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}
.section_one_content_text a{
    text-decoration: none;
    color: #000;
}
.section_one_content_text_button{
    background-color: #2F80ED;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 3%;
    max-width: 255px;
}


.messenger.none{
    display: none;
}
.messenger{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.messenger_content{
    max-width: 745px;
    height: 80vh;
    overflow: scroll;
    margin: 50px 0 0 0;
}
.messenger_content::-webkit-scrollbar {
    width: 0;
}
.messenger_content_statement{
    background-color: #DEF1FF;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    border-radius: 3%;
    max-width: 750px;
    margin: 10px 0 0 0;
} 
.messenger_content_statement.yellow{
    background-color: #E3FBC5;
} 
.messenger_content_buttons.none{
    display: none;
}
.messenger_content_buttons{
    background-color: #2F80ED;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    max-width: 92px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 3%;
    margin: 10px 0 0 0;
}
.messenger_content a{
    text-decoration: none;
}
.messenger_content_answer p{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: bolder;
}
.messenger_content_answer_employee{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.messenger_content_answer_statement{
    background-color: #EFEFEF;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    border-radius: 3%;
    max-width: 750px;
    margin: 10px 0 0 0;
}
.messenger_content_answer.none{
    display: none;
}
.messenger_content_statement a{
    text-decoration: underline;
    color: #000;
}
.content_input{
    display: flex;
    align-items: center;
    margin: 0 0 40px 0;
}
.send_message{
    width: 100%;
    border: 0.5px solid #828282;
    border-radius: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #828282;
    padding: 25px 30px;
}
.content_input a{
    margin: 0 0 0 10px;
}
.change_answer{
    display: flex;
    justify-content: space-between;
}
.change_answer_versions{
    display: flex;
    flex-direction: column;
}
.change_answer_versions a{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: lighter;
    margin: 15px 0 0 0;
    color: #000;
}